.flickrblendrfeed{text-align:center;background-color: #000;color:#E6E6E6;padding:0px;margin:0px;}



.info{font: normal normal normal 14px Arial, sans-serif;}
a,a:visited{color:yellow;text-decoration:none;}
a:hover{text-decoration:underline;}

  #mode{margin:0px;}	

#pic {
	
	 background-blend-mode: exclusion;
	 background-position: center;
	 width:100%;height:auto;
	 margin:auto;
	 background-size:cover;
}

#licenses{bottom:10px;height:30px;top:90%;position:relative;background:black;opacity:0.8;}

#controls{visibility: hidden;font-size:14px;}

#controlwrap{width:100%;height:50px;}
#info {float:right;width:50px;}

#mode{font-size:13px;}
